body {
  --text-color: #222;
  --bkg-color: #ebebeb;
  --bkg-color-form: #fff;
  --success-color: #388e3c;
  --error-color: #e53935;
  --button-color: #3398db;
  --shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 0.5s;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
  --bkg-color-form: #0e0d0d;
  --success-color: #a5d6a7;
  --error-color: #ef9a9a;
  --button-color: #b794f6;

  --shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px, rgba(240, 239, 239, 0.05) 0px 4px 6px -2px;
  transition: all 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--bkg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

.btn-toggle {
  margin-bottom: 20px;
  background-color: var(--bkg-color-form);
  color: var(--text-color);
  padding: 6px 8px;
  border-radius: 8px;
  border: solid 1px;
}

.container {
  color: var(--text-color);

  background-color: var(--bkg-color-form);
  border-radius: 6px;
  box-shadow: var(--shadow);
  min-width: 350px;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  padding: 30px 40px;
  width: 100%;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-control label {
  color: var(--text-color);
  margin-bottom: 5px;
}

.form-control input {
  border: 2px #f0f0f0 solid;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #555;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  border: 4px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */

  body {
    --text-color: #222;
    --bkg-color: #ebebeb;
    --bkg-color-form: #fff;
    --success-color: #388e3c;
    --error-color: #e53935;
    --button-color: #3398db;
    --shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 0.5s;
  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --bkg-color-form: #0e0d0d;
    --success-color: #a5d6a7;
    --error-color: #ef9a9a;
    --button-color: #b794f6;

    --shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px,
      rgba(240, 239, 239, 0.05) 0px 4px 6px -2px;
    transition: all 0.5s;
  }
}
